@media (min-width:80em){
    :root{
        --fs-lg: 2rem;
        --fs-xl: 3rem;
        --fs-2xl: 4rem;

        --px-lg: 1.5rem;
        --max-width: 80rem;

        --py-base: 1.5rem;
        --py-lg: 2.5rem;
        --py-xl: 5rem;
    }


    .mob-esconder{
        display: initial;
    }

    .even-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }


    .btn-sm{
        padding: 0.75rem 1.5rem;
        font-size: var(--fs-base);
    }

    .btn-md{
        padding: 0.75rem 1.5rem;
        font-size: 1.125rem;
    }

    #hero{
        background: url(assets/bg-hero.svg) no-repeat bottom center/contain;
        padding-bottom: 15rem;
        & img[src*="music-ba"]{
            width: 25.75rem;
        }

        & h1{
            margin-top: 1.5rem;
        }

        & p{
            font-size: 2.5rem;
            margin-top: 1rem;
        }

        & .buttoes{
            margin-top: 3rem;
        }
    }

    #about-cell{
        display: none;
    }

    #features{
        
        & .cards{
            grid-template-columns: 17.5rem 1fr 1fr 17.5rem;
            grid-template-rows: 25rem 25rem;
            gap: 2rem;
        }

        & .card{
            overflow: hidden;

            position: relative;
            & img.mob-esconder{
                position: absolute;
                max-width: 15rem;
                filter: drop-shadow(1fr 1fr 0rem red);
            }


            &:nth-child(1){
                grid-column: 1/2;
            }
    
            &:nth-child(2){
                grid-column: 2/4;

                &>div{
                    max-width: 18rem;
                }

                & .mob-esconder{
                    bottom: 2rem;
                    right: 2rem;

                }
            }

            &:nth-child(3){
                grid-column: 4/5;
            }

            &:nth-child(4){
                grid-column: 1/3;
                grid-row: 2/3;

                &>div{
                    max-width: 18rem;
                    margin-left: auto;
                }

                & .mob-esconder{
                    bottom: 2rem;
                    left: 2rem;
                }
            }

            &:nth-child(5){
                grid-column: 3/5;
                grid-row: 2/3;

                &>div{
                    max-width: 18rem;
                }

                & .mob-esconder{
                    bottom: 2rem;
                    right: 2rem;
                }
            }
        }


    }

    #pricing{
        --fs-pricing: 2.5rem;

        & header{
            max-width: 50rem;
            margin-inline: auto;
        }

        & .premium{
            .card{
                padding-bottom: 6rem;
            }
        }

        & .card:nth-child(3) .separador{
            margin-block: 2rem;
        }
        
    }
}