*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --brand-gradient-start: #FC4A1A;
    --brand-gradient-end: #F7B733;
    --brand-gradient: linear-gradient(90deg, #FC4A1A, #F7B733);
    --brand-color-primary: #F7B733;
    --brand-color-secondary: #FC4A1A;

    /* Base */
    --background-color: #09090B;
    --surface-color: #18181B;
    --stroke-color: #27272A;
    --text-color-secondary: #A1A1AA;
    --text-color-primary: #F4F4F5;

    /* fontes */
    --font-Inter: "Inter", sans-serif;

    --ff-sans: 'Inter', system-ui, sans-serif;
    --fw-base: 400;
    --fw-md: 500;
    --fw-bold: 800;

    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2.5rem;

    --py-base: 1rem;
    --py-lg: 1rem;
    --py-xl: 3rem;

    --px-lg: 1.5rem;
    --max-width: 375px;
}

img{
  max-width: 100%;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;
  color: var(--text-color-primary);

  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
}

h1, h2, h3 {
  line-height: 1.2;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;
}

h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

a:hover{
  background: linear-gradient(90deg, var(--brand-gradient-start) 0%, var(--brand-gradient-end) 100%);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

a{
    text-decoration: none;
    color: inherit;
}

ul[role="list"]{
    list-style: none;
}

.btn[aria-label]{

  position: relative;

  &::before{
    content: "";
    position: absolute;
    border-radius: inherit;
    background: var(--background-color);
    inset: 1px;
  }

  &::after{
    content: attr(aria-label);

    background-color: var(--btn-backgrand);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    z-index: 1;
  }
}

a.socialmidia{
  width: 1.5rem;
  height: 1.5rem;
  display: block;

  -webkit-background-clip: text;
  background-clip: text;


  &[aria-label="tiktok"]{
    background: url(assets/tiktok.svg);

    &:hover{
      background: url(assets/tiktok-hover.svg);

    }
  }

  &[aria-label="instragram"]{
    background: url(assets/instagram.svg);

    &:hover{
      background: url(assets/instagram-hover.svg);

    }
  }

  &[aria-label="twitter"]{
    background: url(assets/twitter.svg);

    &:hover{
      background: url(assets/twitter-hover.svg);

    }
  }

  &[aria-label="discord"]{
    background: url(assets/discord.svg);

    &:hover{
      background: url(assets/discord-hover.svg);

    }
  }

  
}

header{
  & nav{
    & a:first-child{
      margin-right: auto;
    }
  }
}

#hero{
  text-align: center;

  & img[src*="music-ba"]{
    width: 12.875rem;
  }

  & h1{
    margin-top: 1rem;
  }

  & p{
    font: var(--fw-md) var(--fs-lg)/1.4 var(--ff-sans);
    margin-top: .5rem;
  }

  & .buttoes{
    justify-content: center;
    margin-top: 2rem;
  }
}

#about-cell{
  background: url(assets/ilustracao.svg) top/cover;
  margin-top: 5rem;
}

#about{
  background-color: var(--surface-color);

  .even-columns{
    gap: 2rem;
  }
}

section{
  & header{
    & h2{
      margin-top: .5rem;
    }
    & strong{
      display: block;
      font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
      letter-spacing: 0.08em;
      text-transform: uppercase;

      color: var(--brand-color-primary);
    }
  }

  & p{
    margin-top: .5rem;
    color: var(--text-color-secondary);
  }
}

#features{
  .cards{
    & .card{
      
      border: 1px solid var(--stroke-color);
    }
  }
}

.card{
  background: var(--surface-color);
  border-radius: 1.5rem;

  & h3{
    margin-top: 1rem;
  }
}


#pricing{
  --fs-pricing: 2rem;
  & header{
    text-align: center;
  }

  & .card p{
    margin-top: .25rem;
    /* max-width: 14rem; */
  }

  & .card{
    padding-top: 2rem;
  }

  & zin-preco{
    display: block;
    padding-block: 1.5rem;
    font: var(--fw-bold) var(--fs-pricing)/1.2 var(--ff-sans);
  }

  & zin-preco small{
    font: var(--fw-base) 1rem/1.2 var(--ff-sans);
    color: var(--text-color-secondary);
  }

  & .btn{
    width: 100%;
  }

  & .separador{
    height: 1px;
    margin-block: 2rem;
    background: radial-gradient(var(--text-color-secondary), var(--surface-color) 70%);
  }

  & ul li{
    color: var(--text-color-secondary);
    background: url(assets/Check.svg) no-repeat;
    padding-left: 2rem;
  }

  & ul + small{
    display: block;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: var(--text-color-secondary);
  }

  & h3{
    font-size: 1.25rem;
  }

  & .premium{
    position: relative;

    & .card{
      border: none;
      padding-top: 4.25rem;

      & > span{
        position: absolute;
        top: 0;
        left: 0;

        padding: .75rem 1.5rem;
        background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);

        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;

        font: 600 var(--fs-sm) var(--ff-sans);
        text-transform: uppercase;
        letter-spacing: 0.5rem;
      }
    }

    padding: 2px;

    &::before{
      content: "";
       background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
      position: absolute;
      inset: 0;
      border-radius: 1.5rem;
      z-index: -1;
    }
  }
}

#dawnload{
  & .card{
    padding: 3rem 1.5rem 15rem;
    position: relative;

    & > img{
      width: 14.5rem;
      position: absolute;
      bottom: 0;
      right: -3.5rem;
    }

    .buttoes{
      flex-wrap: wrap;
      margin-top: 2rem;
    }
  }

}